<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" keywords="skibidi"
    author="wellwellwell">
    <title>Git Regex feladat</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
</head>
<body>
    <style>
        body{
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: navy;
            font-family: Arial, sans-serif;
        }
    </style>
    <div style="color: #fff; text-align:center; padding:24px;">
        <section id="success" style="max-width:720px; margin:0 auto;">
            <h1 style="color:#ffd966; margin-bottom:8px;">Successful validaiton!</h1>
            <p style="font-size:1.05rem;">All inputs passed both frontend and backend validation! ( hopefully :] )</p>
            <img src="/static/images/funnyCat.jpg" style="height: 400px; width: 400px; margin-top: 100px;">
        </section>
    </div>
</body>
</html>