<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" keywords="skibidi"
    author="wellwellwell">
    <title>Git Regex feladat</title>
    <link rel="shortcut icon" href="/static/images/Screenshot 2025-12-03 231848.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form method="POST" action="/">
        <label for="email-input">Enter your email address:</label>
        <input type="email" id="email-input" name="email-input" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$"><br>
        <br>
        <label for="Imei-input">Enter your Imei:</label>
        <input type="text" id="Imei-input" name="Imei-input" required pattern = "^\d{15}$"><br>
        <br>
        <label for="Name-input">Enter your name:</label>
        <input type="text" id="Name-input" name="Name-input" required pattern = "^[a-zA-Z ]{1,567}$"><br>
        <br>
        <!--phone number & iban-->
        <label for="phone-input">Enter your phone number:</label>
        <input type="tel" id="phone-input" name="phone-input" required pattern="^(\+36|06)(\s|-)?(29|30|31|70)(\s|-)?\d{7}$"><br>
        <br>
        <label for="iban-input">Enter your IBAN:</label>
        <input type="text" id="iban-input" name="iban-input" required pattern="^HU\d{2}(\s|-)?\d{4}(\s|-)?\d{4}(\s|-)?\d{4}(\s|-)?\d{4}(\s|-)?\d{4}(\s|-)?\d{4}$"><br>
        <br>
        <label for="uuid-input">Enter your UUID (Universally unique identifier):</label>
        <input type="text" id="uuid-input" name="uuid-input" required pattern="^[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}$"><br>
        <br>
        <!--WTF IS THIS SHIT not working idk it keeps submitting with invalid numbers :( )-->
        <label for="isbn-input">Enter your ISBN (International Standard Book Number):</label>
        <input type="text" id="isbn-input" name="isbn-input" required pattern="\d{3}([- ]?\d+){3}[- ]?\d">
        <!--DONT UNDERSTAND fix later-->
        <!-- <label for="url-input">Enter a valid URL:</label>
        <input type="url" id="url-input" name="url-input" required pattern="#"><br>
        -->
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>  
</body>
</html>