<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" keywords="skibidi"
    author="wellwellwell">
    <title>Git Regex feladat</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!--Red box with error message if validation fails-->
    <div style="background: red; color: white; padding: 10px; margin: 0;">
        {{ errors }}
    </div>
    <form method="POST" action="/submit">
        <label for="email-input">Enter your email address:</label>
        <input type="email" id="email-input" name="email" required pattern="{{ patterns.email }}" placeholder="something@gmail.com"><br>
        <br>
        <label for="Imei-input">Enter your Imei:</label>
        <input type="text" id="Imei-input" name="imei" required pattern = "{{ patterns.imei }}" placeholder="123456789012345"><br>
        <br>
        <label for="Name-input">Enter your name:</label>
        <input type="text" id="Name-input" name="name" required pattern = "{{ patterns.name }}" placeholder="Luka Podiashvili"><br>
        <br>
        <label for="phone-input">Enter your phone number:</label>
        <input type="tel" id="phone-input" name="phone" required pattern="{{ patterns.phone }}" placeholder="06 70 4040342"><br>
        <br>
        <label for="iban-input">Enter your IBAN:</label>
        <input type="text" id="iban-input" name="iban" required pattern="{{ patterns.iban }}" placeholder="HU42117730161111101800000000"><br>
        <br>
        <label for="uuid-input">Enter your UUID (Universally unique identifier):</label>
        <input type="text" id="uuid-input" name="uuid" required pattern="{{ patterns.uuid }}" placeholder="48018487-4f77-4eaa-baaf-a929bb52a66a"><br>
        <br>
        <label for="isbn-input">Enter your ISBN (International Standard Book Number):</label>
        <input type="text" id="isbn-input" name="isbn" required pattern="{{ patterns.isbn }}" placeholder="978-0-439-02348-1"><br>
        <br>
        <label for="url-input">Enter a valid URL:</label>
        <input type="url" id="url-input" name="url" required pattern="{{ patterns.url }}" placeholder="https://example.com"><br>
        <br>
        <br>
        <button type="submit">Submit</button>
    </body>
</html>